header{
    display: flex;
    justify-content: space-between;
    background-color: #48A1D9;
    border-bottom: 10px solid #000000;
    padding: 10px 20px 10px 20px;

}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before{
    content: "";
    display: inline-block;
    background-color: #D20A2E;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #D20A2E;
    padding: 20px 20px;
    box-shadow: 5px 5px #000000;
    margin-right: 0px;
    transition: transform 100ms linear;
}

#button:hover{
    transform: scale(1.08);
}