.card-project{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #205A8C;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0px #fff;
}

.card-project.-blue{
    background-color: #85F2BF;
}